@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500";
body {
    background-color: #eef2f5;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 24px;
}

/*--------------------------------------------------------------
# Module : Client/Team testimonials
--------------------------------------------------------------*/
#carouselIndicators .carousel-inner {
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 2; }

#carouselIndicators i.fa-quote-left {
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: 10px;
  opacity: .3;
  z-index: 1; }

#carouselIndicators .carousel-item {
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  #carouselIndicators .carousel-item blockquote.blockquote {
    border: none;
    color: #252525;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px; }
    @media (min-width: 768px) {
      #carouselIndicators .carousel-item blockquote.blockquote {
        flex-direction: row; } }
    #carouselIndicators .carousel-item blockquote.blockquote .blockquote-image-wrapper {
      background-size: contain;
      background: no-repeat;
      border-radius: 500px;
      margin: 0 auto;
      width: 20%;
      min-width: 150px;
      display: flex;
      justify-content: center; }
    #carouselIndicators .carousel-item blockquote.blockquote .blockquote-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin: 20px auto 0 auto; }
      #carouselIndicators .carousel-item blockquote.blockquote .blockquote-content p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle; }
    #carouselIndicators .carousel-item blockquote.blockquote .blockquote-attribution {
      color: #252525; }
    #carouselIndicators .carousel-item blockquote.blockquote img {
      width: auto;
      width: 100%;
      mix-blend-mode: multiply; }
    #carouselIndicators .carousel-item blockquote.blockquote img[src*="shiftx"] {
      max-height: 44px;
      width: auto; }

#carouselIndicators ol.carousel-indicators {
  display: none;
  margin-top: 40px;
  right: 0;
  bottom: -55px;
  left: 0; }
  #carouselIndicators ol.carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    display: inline-block; }
    #carouselIndicators ol.carousel-indicators li.active {
      background-color: #898989; }

#carouselIndicators .carousel-control-prev,
#carouselIndicators .carousel-control-next {
  z-index: 2; }
  #carouselIndicators .carousel-control-prev i.fas,
  #carouselIndicators .carousel-control-next i.fas {
    font-size: 30px;
    color: #7b7b7b; }

@media (min-width: 768px) {
  #carouselIndicators .carousel-item blockquote.blockquote {
    padding: 40px 50px 40px 60px; }
    #carouselIndicators .carousel-item blockquote.blockquote .blockquote-content {
      margin: 0 auto 0 30px; }
  #carouselIndicators .carousel-control-next {
    top: 0;
    right: -74px; }
  #carouselIndicators .carousel-control-prev {
    top: 0;
    left: -74px; } }

@media (min-width: 768px) {
  #carouselIndicators i.fa-quote-left {
    top: 30px;
    left: 30px;
    opacity: .3; }
  #carouselIndicators .carousel-control-next {
    right: -30px;
    visibility: hidden; }
  #carouselIndicators .carousel-control-prev {
    left: -30px;
    visibility: hidden; }
  #carouselIndicators:hover .carousel-control-next, #carouselIndicators:hover .carousel-control-prev {
    visibility: visible; }
  #carouselIndicators ol.carousel-indicators {
    display: block;
    text-align: center;
    margin: 0;
    right: 0; }
    #carouselIndicators ol.carousel-indicators li {
      height: 12px;
      width: 12px; } }

@media (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .carousel-inner img {
    width: 100% !important; } }

@media (min-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .carousel-inner img {
    width: 100% !important; } }
    
blockquote,
.blockquote {
  border-left: 4px solid #7b7b7b;
  display: block;
  font-size: 16px;
  line-height: 25px;
  margin: 25px 0;
  font-style: italic;
  color: #7b7b7b;
  padding: 0 0 0 25px; }

.blockquote {
  font-size: 17px;
  line-height: 28px;
  margin: 0;
  padding: 0; }

.blockquote-attribution {
  font-size: 14px;
  line-height: 28px; }

@media (max-width: 468px) {
  blockquote,
  .blockquote {
    font-size: 14px;
    line-height: 22px; } }
#carouselIndicators a.carousel-control-prev:hover,
#carouselIndicators a.carousel-control-prev:active,
#carouselIndicators a.carousel-control-next:hover,
#carouselIndicators a.carousel-control-next:active {
  border-bottom: 2px solid transparent; }
.container{ width: 1050px; }
.carousel-item{ min-height: 226px; height: 226px; }
